<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="populationSize" value="200"/>
        <add key="mutationRate" value="1"/>
        <add key="target" value="to be or not to be"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>